.CountdownTimer {
  text-align: center;
  margin-top: 100px;

  .CountdownTimer-title {
    font-size: 20px;
  }

  .Clock-hours,
  .Clock-days,
  .Clock-minutes,
  .Clock-seconds {
    display: inline;
    margin-right: 10px;
  }

  .Deadline-input {
    margin: 5px;
  }
}

.Stopwatch {
  text-align: center;
  margin-top: 100px;

  .Stopwatch-title {
    font-size: 20px;
  }

  .Stopwatch-hours,
  .Stopwatch-minutes,
  .Stopwatch-seconds {
    display: inline;
    margin-right: 10px;
  }

  .Deadline-input {
    margin: 5px;
  }
}
